<a href="/">Voltar</a>
<h1>Listagem de Pessoas</h1>
<div class="person-list">
  <ul>
    {{#each persons}}
      <li>
        <h2><a href="/person/{{this.idperson}}">{{this.person_name}}</a></h2>
        <p> Idade: {{this.person_age}}</p>
        <p>Email: {{this.person_email}}</p>
        <a href="/person/edit/{{this.idperson}}">EDITAR</a>
        <form action="/person/remove/{{this.idperson}}" method="POST">
          <input type="submit"  id="remove" value="Remover" />

        </form>
      </li>
    {{/each}}
  </ul>
</div>